<!-- Exercise form -->
<div class="card">
  <!-- Card header -->
  <div class="card-header">
    <h6 class="lead text-center pt-2">SQL Exercise <%= @exercise.id %></h6>
  </div>

  <!-- Card body -->
  <div class="row card-body m-2 mt-1">
    <!-- Validation message -->
    <code class='pb-1 validation' id="form-validation">
      &nbsp;
    </code>

    <!-- Exercise description -->
    <code class="pb-3 text-dark"><%= @exercise.description %></code>

    <!-- Exercise query -->
    <%= form_with model: @exercise, data: { controller: "form-validation" } do |form| %>
      <%= form.hidden_field :exercise_id, value: @exercise.id %>

      <div class="sql-editor">
        <div class="editor-wrapper">

          <!-- Fixed line numbers from 1 to 8 -->
          <div class="line-numbers text-dark">
            <% (1..9).each do |n| %>
              <span><%= n %></span>
            <% end %>
          </div>
          <%= form.text_area :user_answer, class: "code bg-white text-dark overflow-hidden", rows: 9, data: { target: "form-validation.textarea", action: "form-validation#limit" } %>
        </div>
      </div>

      <div class="d-flex mt-3 mr-2">
        <div class="">
          <%= form.button 'Submit', class: 'btn btn-light border text-secondary', id: "exercise_submit_button", data: { action: "form-validation#validate", exercise_id: @exercise.id } %>
        </div>

        <!-- Next exercise button -->
        <div class="ms-auto d-none" id="exercise_next_button">
          <% if @next_exercise %>
            <%= link_to "Next", exercise_path(@next_exercise), class: 'btn btn-light border text-secondary' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <code class="card-footer">
    <!-- Schema tables -->
    <div class="my-3 mb-1 px-2 text-secondary">
      Tables: <i><%= @exercise.details['tables'].split(',').join(', ') %></i>
    </div>

    <!-- Hint -->
    <div class="px-2">
      <div class="text-secondary pb-2 d-flex" data-controller="form-validation" data-action="click->form-validation#hint" data-exercise-query="<%= @exercise.query %>">
        <div class="pb-2" style="cursor: pointer">
          Show hint <i class="fa-regular fa-circle-question"></i>
        </div>
      </div>
      <div class="code border rounded px-3 py-2 d-none text-grey mb-2" id="form-hint"></div>
    </div>
  </code>
</div>
